#cont{
    width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite;
}

header{
    width: 1200px;
    height: 110px;
    background-color: red;

}

nav{
    width: 1200px;
    height: 70px;
    background-color: blue;

}

aside{
    width: 170px;
    height: 1000px;
    background-color: green;

}

#cont1{
    width: 960px;
    height: 900px;

}

footer{
    width: 940px;
    height: 100px;
    background-color: black;

}